
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Gestione pizze</h1>
    </div>
    <div class="col-12">
      <app-list
      (onDelete)="deletePizza($event)"
      (onEditRequest)="startEditingPizza($event)"
      [inputPizze]="pizze"></app-list>
    </div>

    <button
    (click)="isCreatingNewPizza = !isCreatingNewPizza"
    class="btn btn-success">
      Aggiungi una pizza
    </button>

    <div *ngIf="isCreatingNewPizza" class="col-12">
        <app-create-form (onCreate)="addNewPizza($event)"></app-create-form>
    </div>

    <div *ngIf="pizzaSelezionataPerModifica" class="col-12">
      <app-update-form [pizzaDaModificare]="pizzaSelezionataPerModifica"></app-update-form>
    </div>
  </div>
</div>
